.user-icon {
  width: 45px;
  height: 45px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;

  .sign-in-icon {
    width: 16px;
    height: 16px;
    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }
  }
}
